legend{
  text-align: center;
}

fieldset {
  text-align: center;
}

#allOutputs {
  text-align: center;
  display: block;
}

#allOutputs p {
  display: inline;
}

#filters{
  text-align: center;
  margin: auto;
}

#button {
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.selection{
  display: inline;
}

#numberDiv {
  display: inline-block;
  min-width: 302px;
}
