@font-face {
  font-family: tickerfont;
  src: url('/vendor/fonts/SubwayTickerGrid.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
}

header, body, footer{
  min-width: 400px;
}

li a {
  color: white;
}

marquee {
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: black;
  color: #15d222;
}

marquee p {
  display: inline;
  font-family: tickerfont;
  margin-left: 30px;
  font-size: 1.5em;
}

body {
  background: url("../vendor/wallstreet.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  vertical-align: center;
  display: inline-block;
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

li a {
  color: black;
}

.tab-content {
  padding: 1em 1em 1em 1em;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  margin: 10% 10% 10% 10%;
}

.icon-menu {
  font-size: 40px;
  display: inline-block;
  float: right;
  color: white;
}

.main-nav {
  display: block;
  height: 75px;
  background-color: #9e0d97;
  color: white;
}

.main-nav img[alt="logo"]{
  height: 100%;
  padding: 5px;
  vertical-align: middle;
}

.nav-buttons {
  display: inline-block;
  float: right;
  background-color: white;
  color: black;
}

.hidden {
display: none;
}

li.tab {
  margin: 3px;

}

img {
  width: 15%;
  border-radius: 100%;
}

#about p {

}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #9e0d97;
  color: white;
  text-align: center;
}

@media screen and (min-width: 900px) {
  body {
    background-color: white;
  }

  h1 {
    vertical-align: bottom;
    display: inline-block;
    font-size: 60px;
  }

  .icon-menu {
    display: none;
    color: purple;
  }

  .hidden{
    display: inline-block;
  }

  .main-nav {
    outline: black solid 1px;
    background-color: #9e0d97;
    color: white;
  }

  .nav-buttons {
    background: transparent;
    float: none;
  }

  .nav-buttons a {
    color: white;
  }

  .tab {
    display: inline-block;
  }

  li.tab {
    display: inline-block;
    margin-left: 30px;
  }

}
