* {
  font-family: 'Raleway', sans-serif;
}

marquee {
  height: 35px;
  background-color: black;
  color: green;
}

marquee p {
  display: inline;
  margin-left: 30px;
  font-size: 1.7em;
}

body {
  background: url("../vendor/wallstreet.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  vertical-align: center;
  display: inline-block;
  font-size: 30px;
}

a:link {
  text-decoration: none;
  color: yellow;
}

a {
  color: #ea6b64;
}

.tab-content {
  padding: 1em 1em 1em 1em;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  margin: 10% 5% 10% 5%;
}

.icon-menu {
  font-size: 40px;
  display: inline-block;
  float: right;
  color: white;
}

.main-nav {
  display: block;
  outline: black solid 1px;
  background-color: #20063B;
  color: white;
}

.main-nav img[alt="logo"]{
  width: 70px;
  vertical-align: middle;
}

.nav-buttons {
  display: inline-block;
}

li.tab {
  display: none;
  margin-left: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #20063B;
  color: white;
  text-align: center;
}

@media screen and (min-width: 900px) {
  body {
    background-color: white;
  }

  h1 {
    vertical-align: bottom;
    display: inline-block;
    font-size: 60px;
  }

  .icon-menu {
    display: none;
    color: purple;
  }

  .main-nav {
    outline: black solid 1px;
    background-color: #20063B;
    color: white;
  }

  .tab {
    display: inline-block;
  }

  li.tab {
    display: inline-block;
    margin-left: 30px;
  }

}
